
body {
    background-color: floralwhite;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
    animation: fadeIn 2s ease-in-out;
}

    img:hover {
        transform: scale(1.05);
    }

    
    img:hover {
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    }


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
